body {
    background-color: rgba(20, 29, 43, 255);
    color: rgba(164, 177, 205, 255);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;

    width: 100%;
    overflow: hidden;
}