body {
    background-color: #141d2b;
    color: #a4b1cd;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    width: 100%;
    overflow-x: hidden;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
    color: #a4b1cd;
    text-decoration: underline;
  }